# Local Terraform state
oci/config/.tfstate*
aws/config/.tfstate*

# .tfvars files often contain secrets and should be ignored
oci/config/*.tfvars
aws/config/*.tfvars

# All .terraform directories, wherever they are
**/.terraform/
**/.terraform*
**/terraform*
# The provider lock file
.terraform.lock.hcl

oci/.terra*
aws/.terra*