# Local Terraform state
**/.tfstate*
**/.tfstate

# .tfvars files often contain secrets and should be ignored
*.tfvars

# All .terraform directories, wherever they are
**/.terraform/
**/.terraform*
**/terraform*
# The provider lock file
.terraform.lock.hcl

oci/terra*


# Crash log files
crash.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
# Comment